# Игнорировать папку venv (виртуальное окружение Python)
venv/

# Игнорировать папку node_modules (зависимости Node.js)
node_modules/

# Игнорировать папку __pycache__ (скомпилированные файлы Python)
__pycache__/

# Игнорировать файлы .pyc (скомпилированные файлы Python)
*.pyc

# Игнорировать файлы .pyo (оптимизированные скомпилированные файлы Python)
*.pyo

# Игнорировать файлы .pyd (Python dlls)
*.pyd

# Игнорировать файл .python-version, если вы используете pyenv
.python-version

# Игнорировать файлы логов
*.log

# Игнорировать файлы .env, в которых хранятся секретные ключи и пароли
.env

# Игнорировать SQLite базы данных, если вы используете их в вашем проекте
*.sqlite

# Если вы используете Django, вы можете также добавить следующие строки:
package-lock.json
*.pot
*.py[co]
*.cache
*.DS_Store
local_settings.py
db.sqlite3
/media/
/static/